<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="plant.spring.repository.DiaryMapper">

<!-- select -->
<!-- ユーザーの観察日記数取得 -->
<select id="getCount" resultType="Integer">
	select
		count(*)
	from
		diaries
	where
		users_id = #{id}
	and is_deleted = 0
</select>

<!-- 観察日記一覧取得 -->
<select id="findMany" resultType="Diaries">
	select
		diaries.id
		,diaries.plants_id
		,diaries.users_id
		,diaries.observation_date
		,diaries.detail
		,diaries.create_date_time
		,diaries.update_date_time
		,diaryfiles.file_path
	from
		diaries
	left join
		diaryfiles
	on diaries.id = diaryfiles.diaries_id
	and diaryfiles.display_order = 1
	where
		diaries.plants_id = #{id}
	and diaries.is_deleted = 0
</select>

<!-- 観察日記IDからユーザーIDを取得 -->
<select id="findOneUserId" resultType="Integer">
	select
		users_id
	from
		diaries
	where
		id = #{id}
	and is_deleted = 0
</select>

<!-- 観察日記1件取得(トップ写真１枚) -->
<select id="findOne" resultType="Diaries">
	select
		diaries.id
		,diaries.plants_id
		,diaries.users_id
		,diaries.observation_date
		,diaries.detail
		,diaries.create_date_time
		,diaries.update_date_time
		,diaryfiles.file_path
		,plants.name
	from
		diaries
	left join
		diaryfiles
	on
		diaries.id = diaryfiles.diaries_id
	and diaryfiles.display_order = 1
	left join
		plants
	on
		diaries.plants_id = plants.id
	and plants.is_deleted = 0
	where
		diaries.id = #{id}
	and diaries.is_deleted = 0
</select>

<!-- insert -->
<!-- 観察日記1件登録 -->
<!-- AUTO_INCREMENTで生成されたidをINSERT後にinsert対象データDiariesオブジェクトのidに設定する -->
<insert id="insertOne" parameterType="Diaries" useGeneratedKeys="true" keyProperty="id">
	insert into diaries (
		plants_id
		,users_id
		,observation_date
		,detail
		)
		values (
			#{plantsId}
			,#{usersId}
			,#{observationDate}
			,#{detail}
		)
</insert>

<!-- update -->
<!-- 観察日記1件削除 -->
<update id="updateDelOne">
	update Diaries
	set
		is_deleted = 1
	where
		id = #{id}
</update>

<!-- 観察日記1件更新 -->
<update id="updDateDetail">
	update Diaries
	set
		observation_date = #{observationDate}
		,detail = #{detail}
	where
		id = #{id}
</update>

</mapper>