<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Mapperとxmlのマッピング -->
<mapper namespace="plant.spring.repository.PlantMapper">

<!-- ユーザーの植物数取得 -->
<select id="getCount" resultType="Integer">
	select
		count(*)
	from
		plants
	where
		users_id = #{id}
	and is_deleted = 0
</select>

<!-- ユーザーの植物一覧データを取得 -->
<select id="findMany" resultType="Plants">
	select
		plants.id
		,plants.name
		,plants.detail
		,plantfiles.file_path
	from
		plants
	left join
		plantfiles
	on
		plants.id = plantfiles.plants_id
	and plantfiles.display_order = 1
	where
		plants.users_id = #{id}
	and is_deleted = 0
</select>

<!-- 植物1件登録 -->
<!-- AUTO_INCREMENTで生成されたidをINSERT後にinsert対象データPlantsオブジェクトのidに設定する -->
<insert id="insertOne" parameterType="Plants" useGeneratedKeys="true" keyProperty="id">
	insert into plants (
		users_id
		,name
		,detail
		)
		values (
			#{usersId}
			,#{name}
			,#{detail}
		)
</insert>

<!-- 植物1件削除 -->
<update id="updateDelOne">
	update plants
	set
		is_deleted = 1
	where
		id = #{id}
</update>

<!-- 植物IDからユーザーIDを取得 -->
<select id="findOneUserId" resultType="Integer">
	select
		users_id
	from
		plants
	where
		id = #{id}
	and is_deleted = 0
</select>

<!-- 植物1件取得 -->
<select id="findOne" resultType="Plants">
	select
		plants.id
		,plants.name
		,plants.detail
		,plants.create_date_time
		,plants.update_date_time
		,plantfiles.file_path
	from
		plants
	left join
		plantfiles
	on
		plants.id = plantfiles.plants_id
	and plantfiles.display_order = 1
	where
		plants.id = #{id}
	and is_deleted = 0
</select>

</mapper>