<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- Mapperとxmlのマッピング -->
<mapper namespace="plant.spring.repository.PlantFileMapper">

<!-- select -->
<!-- 植物画像データ一覧取得 -->
<select id="findMany" resultType="PlantFiles">
	select
		plantfiles.id
		,plantfiles.plants_id
		,plantfiles.display_order
		,plantfiles.file_path
	from
		plants
	join
		plantfiles
	on
		plants.id = plantfiles.plants_id
	where
		plants.id = #{id}
	and plantfiles.is_deleted = 0
	order by
		plantfiles.display_order
</select>

<!-- 画像ファイルパスを取得 -->
<select id="getFilePath">
	select
		file_path
	from
		plantfiles
	where
		id = #{id}
</select>


<!-- insert -->
<!-- 植物画像データ1件登録 -->
<insert id="insertOne" parameterType="PlantFiles" useGeneratedKeys="true" keyProperty="id">
	insert into plantfiles (
		plants_id
		,display_order
		,file_path
		)
		values (
			#{plantsId}
			,#{displayOrder}
			,#{filePath}
		)
</insert>


<!-- update -->
<!-- 植物画像データファイル名1件更新 -->
<update id="updateOne">
	update plantfiles
	set
		file_path = #{fileName}
	where
		id = #{id}
</update>

<!-- 植物画像データ順番1件更新 -->
<update id="updateDisplayOrder">
	update
		plantfiles
	set
		display_order = #{displayOrder}
	where
		id = #{plantFileId}
	and plants_id = #{plantId}
	and is_deleted = 0
</update>

<!-- 植物画像データ削除(is_Deleted=1) -->
<update id="updIsDeleted">
	update
		plantfiles
	set
		is_deleted = 1
	where
		id = #{id}
</update>

</mapper>