<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Mapperとxmlのマッピング -->
<mapper namespace="plant.spring.repository.ProfileMapper">

<!-- select -->
<!-- プロフィール情報1件取得 -->
<select id="findOne" resultType="Profiles">
 	select
 		profiles.id
 		,profiles.nickname
 		,profiles.profile
 		,profiles.file_path
 	from
 		users
 	left join
 		profiles
 	on
 		users.id = profiles.users_id
 	where
 		users.id = #{id}
</select>

<!-- insert -->
<!-- プロフィール初期データ1件作成 -->
<insert id="insertOne">
	insert into profiles (
		users_id
		,nickname)
		values (
			#{id}
			,#{nickname})
</insert>

<!-- update -->
<!-- ニックネームプロフィール1件更新 -->
<update id="updNicknameProfile">
	update profiles
	set
		nickname = #{nickname}
		,profile = #{profile}
	where
		id = #{id}
</update>

<!-- ファイルパスクリア1件更新 -->
<update id="updFilePathClear">
	update profiles
	set
		file_path = ""
	where
		id = #{id}
</update>

<!-- ファイルパス1件更新 -->
<update id="updFilePath">
	update profiles
	set
		file_path = #{filePath}
	where
		id = #{id}
</update>

</mapper>