@charset "UTF-8";

.profile {
	background-color: #CCFF99;
}

a {
	text-decoration: none;
}

.width-200 {
	width: 200px;
}


/* 画像を中央に表示する */
.image-container {
/*	width: 100%;*/
/*	height: auto;*/
/*	object-fit: contain;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 画像を枠に合わせる */
.image-container img, a {
	width: 100%;
	height: 100%;
	object-fit: cover; 		/* containにすると円の場合、楕円になる */
}

/* 画像を円形にする */
.circular-image {
	border-radius: 50%;
}

/* 丸画像 */
/* マイページプロフィール画像 */

.prof-img-container {
	width: 100px; /* 円の直径 */
    height: 100px; /* 円の直径 */
    
    overflow: hidden; /* コンテナからはみ出した部分を隠す */
    display: flex;
    align-items: center;
    justify-content: center;
}
.prof-img-container img {
/*    max-width: 100%;*/
/*    max-height: 100%;*/
    object-fit: cover;
}


/* プラスアイコン */
.icon-container {
	width: 30px;
	height: 30px;
}

.icon-container img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

/* 画像追加ボタン */
.fileplus-area {
	border: 2px dotted #CCFF99;
    cursor: pointer; /* マウスカーソルを指の形にする */
    width: 100%;
    height: 100px;
}
fileplus-area img {
	width: 30px;
	height: 30px;
}

.icon-container:hover {
    opacity: 0.5; /* ホバー時の不透明度 */
}

/**** マイページ ****/

/* 植物削除ゴミ箱アイコン */
.delete-icon {
	width: 25px;
	height: 25px;
	opacity: 0.8;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 0;
}

.delete-icon:hover {
	opacity: 1;
}

/* 植物削除モーダル植物名 */
.modal-title-plant {
	text-align: center;
}

.position-static {
    position: static !important;
}




/* 植物デフォルト画像 */
.img-70 {
	width: 70%;
	padding: 10px;
	display: block;
    margin: 0 auto; /* 中央に配置 */
}



/**** 植物追加・編集画面 ****/
/* 画像削除ボタン */
.remove-btn {
	border: none;
	background-color: rgba(0, 0, 0, 0.4);  /* 背景色を設定してボタンを見やすくする。 */
	border-radius: 50%;
	padding: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.remove-btn img {
	width: 20px;
	opacity: 1;
}

.remove-btn img:hover {
	opacity: 0.8; /* ホバー時透明度を下げる(ボタンに黒い背景色が設定されているので、ボタンの色が暗くなる。) */
}

/* 写真エリア */
.photo-area {
	width: 200px;
	height: 200px;
	overflow: hidden;	/* 枠からはみ出た部分を隠す */
	border-radius: 6px;	/* hiddenで丸い角からはみ出した部分も隠れる */
}

.photo-area img {
	object-fit: cover;	/* 画像を枠内に収める */
}


/**** 植物詳細画面 ****/
.prof-img-container-mini {
	width: 40px;
	height: 40px;
}

.plant-img {
	width: 250px;
	height: 250px;
	overflow: hidden;	/* 枠からはみ出た部分を隠す */
	border-radius: 6px;	/* hiddenで丸い角からはみ出した部分も隠れる */
}

.diary-img {
	width: 200px;
	height: 200px;
}

.diary {
	color: black;
}

.diary-detail {
	&:hover {
		background-color: #F0FFF0;
	}
}
/* 子要素を画面中央に配置 */
.container-center {
	display: flex;
	justify-content: center;
	width: 900px;		/* 観察日記詳細記録情報部分幅 */
}

.diary-text {
	width: 100%;
}


