@charset "UTF-8";

.profile {
	background-color: #CCFF99;
}

/* 丸画像 */
/* マイページプロフィール画像 */

.img-container {
	width: 100px; /* 円の直径 */
    height: 100px; /* 円の直径 */
    border-radius: 50%; /* 円形にする */
    overflow: hidden; /* コンテナからはみ出した部分を隠す */
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* プラスアイコン */
.icon-container img {
	width: 30px;
}

.icon-container {
	border: 2px dotted #CCFF99;
    cursor: pointer; /* マウスカーソルを指の形にする */
    height: 100px;
}

.icon-container:hover {
    opacity: 0.5; /* ホバー時の不透明度 */
}


/**** 植物追加画面 ****/
/* 写真エリア */
.photo-erea {
	width: 200px;
	height: 200px;
}