<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<!-- JS読込 -->
<!-- 並べ替えライブラリ -->
<script src="/js/Sortable.min.js" defer></script>
<script th:inline="javascript" defer>
	const slotNum = /*[[${slotNum}]]*/'4'
</script>
<script th:src="@{/js/plant/add-plant.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
	<form class="mt-3 col-md-10" id="addplant-form" method="post" th:object="${addPlantForm}">
		<div class="row">
		    <div class="col-12">
				<!-- プレビュー表示エリア -->
				<div id="photo-preview-container" class="row my-2 d-flex justify-content-center">
				  <div class="d-flex justify-content-center">
				    <!-- スロットがここに並ぶ -->
				    <!-- スロットテンプレート -->
					<template id="photo-slot-template">
					  <div class="photo-slot col-md-3 m-2 photo-area d-flex justify-content-center align-items-center position-relative">
					    <img class="img-fluid" style="display:block;">
					    <button type="button" class="remove-btn position-absolute top-0 end-0">
					      <img src="/images/removeicon.png" class="img-fluid" alt="削除">
					    </button>
					  </div>
					</template>
				    
				  </div>
				</div>
			
				<!-- 画像追加ボタンエリア -->
			    <div class="row my-2 d-flex justify-content-center align-items-center">
			        <div class="p-0 fileplus-area d-flex justify-content-center align-items-center" id="add-photo-button">
						<div class="icon-container">
							<img src="/images/plusicon.png" alt="#{plusIcon}" class="img-fluid" />
						</div>
			        </div>
			    </div>
			
				<!-- ファイル選択 (hidden) -->
				<input type="file" id="file-input" style="display:none;" accept="image/*" multiple>
		
		    </div>
		</div>
			
		<!--入力欄-->
		<div class="row d-flex justify-content-center">
			<!--植物の名前-->
			<div class="row">
				<div class="width-120 p-0">
					<label th:for="name" th:text="#{plantName}"></label>
				</div>
				<!-- エラー表示 -->
				<div id="name-error" class="col-auto text-danger text-start" style="display: none;"></div>
			</div>
			<input type="text" class="form-control mb-3 mt-1" th:field="*{name}" 
				th:placeholder="#{plantNamePlaceholder}"
				onkeydown="if(event.key === 'Enter') event.preventDefault();">
			<!--詳細-->
			<label th:for="detial" th:text="#{plantDetail}"></label>
			<textarea class="form-control mb-4 mt-1" th:field="*{detail}" th:placeholder="#{plantDetailPlaceholder}"
				rows="5" style="resize: vertical;"></textarea>
			<!--登録ボタン-->
			<div class="mb-3 d-flex flex-column align-items-center gap-2 mb-4">
			  <button id="update-btn" type="button" class="btn btn-success width-200" th:text="登録"></button>
			  <a th:href="@{/plant/mypage}" 
			  	class="btn btn-outline-secondary custom-hover width-200">キャンセル</a>
			</div>
		</div>
	</form>
</div>
</body>
</html>