<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<!-- JS読込 -->
<script th:src="@{/js/detail.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
	<!-- アカウント情報 -->
	<div class="row d-flex align-items-center">
		<!-- プロフアイコン -->
		<div class="col-3 px-0 prof-img-container-mini">
			<a class="image-container"th:href="@{/plant/other/{id}(id=${UserId})}">
				<img class="circular-image" th:src="${profile.filePath != null && !profile.filePath.trim().isEmpty()} ? 
							@{${uploadDirProfile} + ${profile.filePath}} : '/images/profileImage.png'" alt="ProfileImage">
			</a>
		</div>
		<div class="col-9">
			<!-- ニックネーム -->
			<div class="row">
				<p class="m-0" th:text="${profile.getNickname}"></p>
			</div>
			<!-- 植物数など -->
			<div class="row">
				<p class="m-0" th:text="${plantDiaryCount}"></p>
			</div>
		</div>
		
	</div>
	
	<!-- 植物情報 -->
	<div class="row py-3">
		<!-- 植物写真 -->
		<div class="col-auto p-0 border image-container plant-img" >
			<img th:src="${plant.filePath != null && !plant.filePath.trim().isEmpty()} ? 
					@{${uploadDirPlant} + ${plant.filePath}} : '/images/plantImage.png'">
		</div>

		<!-- 植物詳細情報 -->
		<div class="col m-0">
			<!-- 名前 -->
			<div class="row m-0 lh-2">
				<p class="col-11 m-0 lh-lg fs-4 text-success fw-bold" th:text="${plant.name}"></p>
				<!-- 植物編集ボタン -->
				<div class="col-1 p-0 d-flex align-items-center justify-content-center">
					<a class="icon-container" th:href="@{/plant/edit/{id}(id=${plant.id})}">
						<img src="/images/editicon.png" alt="#{editIcon}" class="img-fluid">
					</a>
				</div>
			</div>
			<!-- 詳細 -->
			<div class="row m-0 d-flex justify-content-between">
				<p class="col m-0 text-body-secondary" th:text="#{plantDetail}"></p>
				<div class="col d-flex justify-content-end">
					<p class="m-0 text-end me-3" th:text="${plant.createDateTime}"></p>
					<p class="m-0 text-end" th:text="#{update} + ${plant.createDateTime}"></p>
				</div>
			</div>
			<div class="row m-0">
				<p th:text="${plant.detail}"></p>
			</div>
		</div>
	</div>
	
	<!-- 観察日記追加ボタン -->
	<div class="row mb-2 d-flex justify-content-end">
		<div class="d-flex pe-4 align-items-center justify-content-end">
			<a class="icon-container" th:href="@{/diary/add/{id}(id=${plant.id})}">
				<img src="/images/plusicon.png" alt="#{plusIcon}" class="img-fluid">
			</a>
		</div>
	</div>
	<!-- 観察日記一覧 -->
	<div class="row">
		<a class="diary" th:href="@{/diary/detail/{id}(id=${diary.id})}" th:each="diary : ${diaries}">
			<div class="row p-0 mb-3 border position-relative">
				<!-- 削除ボタン(削除確認モーダル表示) -->
				<img class="delete-icon" th:data-name="${diary.observationDate}" 
						th:onclick="'showDeleteModal(' + ${diary.id} + ', ' + this.dataset.observationDate + '); event.preventDefault();'" 
						alt="deletediary" src="/images/deleteicon.png">
				<!-- 削除処理 -->
				<form th:id="'deleteForm' + ${diary.id}" 
						th:action="@{/diary/delete/{plantsId}/{id}(plantsId=${plant.id}, id=${diary.id})}" 
						method="post" style="display:none;">
                	<input type="hidden" name="_method" value="delete"/>
            	</form>
				<!-- 写真 -->
				<div class="col-auto p-0 image-container diary-img">
					<img th:src="${diary.filePath != null && !diary.filePath.trim().isEmpty()} ? 
							@{${uploadDirDiary} + ${diary.filePath}} : '/images/plantImage.png'">
				</div>
				
	
  <!-- 新規画像追加 -->
  <input type="file" id="file-input" name="files" multiple>

  <!-- 削除予定ファイルを保持するhidden -->
  <div id="deleted-files-container"></div>

				
				
				
				
				
				<!-- 日記文章 -->
				<div class="col border-start diary-detail">
					<p class="fs-4 mb-1" th:text="${diary.observationDate}"></p>
					<p class="m-0 pb-1" th:text="${diary.detail}"></p>
				</div>
			</div>
		</a>
	</div>


	<!-- モーダル -->
	<div class="modal" tabindex="-1" id="deleteModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header d-flex justify-content-center position-relative">
				<h5 class="mb-0 text-success" id="diaryToDelete"></h5>
	        	<button type="button" class="btn-close m-2 position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
	      	</div>
	      <div class="modal-body">
	        <p th:text="#{deleteMessage1}" class="text-center"></p>
	        <p th:text="#{deleteMessage2}" class="text-center"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
	        <button type="button" class="btn btn-primary" id="confirmDeleteButton">削除</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>