<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<!-- アカウント情報 -->
	<div class="row d-flex align-items-center">
		<!-- プロフアイコン -->
		<div class="col-3 px-0 prof-img-container-mini">
			<a class="image-container"th:href="@{/plant/other/{id}(id=${UserId})}">
				<img class="circular-image" th:src="${profile.filePath != null && !profile.filePath.trim().isEmpty()} ? 
							@{${uploadDirProfile} + ${profile.filePath}} : '/images/profileImage.png'" alt="ProfileImage">
			</a>
		</div>
		<div class="col-9">
			<!-- ニックネーム -->
			<div class="row">
				<p class="m-0" th:text="${profile.getNickname}"></p>
			</div>
			<!-- 植物数など -->
			<div class="row">
				<p class="m-0" th:text="${plantDiaryCount}"></p>
			</div>
		</div>
		
	</div>
	
	<!-- 植物情報 -->
	<div class="row py-3">
		<!-- 植物写真 -->
		<div class="col-auto p-0 border image-container plant-img" >
			<img th:src="${plant.filePath != null && !plant.filePath.trim().isEmpty()} ? 
					@{${uploadDirPlant} + ${plant.filePath}} : '/images/plantImage.png'">
		</div>

		<!-- 植物詳細情報 -->
		<div class="col m-0">
			<!-- 名前 -->
			<div class="row m-0 lh-2">
				<p class="col-11 m-0 lh-lg fs-4 text-success fw-bold" th:text="${plant.name}">パキラ</p>
				<!-- 植物編集ボタン -->
				<div class="col-1 p-0 d-flex align-items-center justify-content-center">
					<a class="icon-container" th:href="@{/plant/edit}">
						<img src="/images/editicon.png" alt="#{editIcon}" class="img-fluid">
					</a>
				</div>
				
			</div>
			<!-- 詳細 -->
			<div class="row m-0 d-flex justify-content-between">
				<p class="col m-0 text-body-secondary" th:text="#{plantDetail}"></p>
				<div class="col d-flex justify-content-end">
					<p class="m-0 text-end me-3" th:text="${plant.createDateTime}">yyyy-MM-dd</p>
					<p class="m-0 text-end" th:text="#{update} + ${plant.createDateTime}"></p>
				</div>
				

			</div>
			<div class="row m-0">
				<p th:text="${plant.detail}"></p>
			</div>

		</div>

	</div>
	
	

	<!-- 観察日記追加ボタン -->
	<div class="row mb-2 d-flex justify-content-end">
		<div class="d-flex pe-4 align-items-center justify-content-end">
			<a class="icon-container" th:href="@{/diary/add}">
				<img src="/images/plusicon.png" alt="#{plusIcon}" class="img-fluid">
			</a>
		</div>
	</div>
	<!-- 観察日記一覧 -->
	<div class="row">
		<div class="row p-0 mb-3 border">
			<!-- 写真 -->
			<div class="col-3 p-0 image-container diary-img">
				<img src="/images/plantImage.png">
			</div>
			<!-- 日記文章 -->
			<div class="col-9 border-start">
				<p>日記</p>
			</div>
		</div>
	</div>

	
	
	
</div>
</body>
</html>