<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<!-- アカウント情報 -->
	<div class="row d-flex align-items-center">
		<!-- プロフアイコン -->
		<div class="col-3 px-0 image-container profile-img-mini">
			<img class="circular-image" src="/images/profileImage.png">
			
		</div>
		<div class="col-9">
			<!-- ニックネーム -->
			<div class="row">
				<p class="m-0">ニックネーム</p>
			</div>
			<!-- 植物数など -->
			<div class="row">
				<p class="m-0">植物 999,999  観察日記 999,999</p>
			</div>
		</div>
		
	</div>
	
	<!-- 植物情報 -->
	<div class="row py-3">
		<!-- 植物写真 -->
		<div class="col-auto p-0 image-container plant-img" >
			<img src="/images/plantImage.png">
			
		</div>
		
		
		<!-- 植物詳細情報 -->
		<div class="col m-0">
			<!-- 名前 -->
			<div class="row">
				<p>パキラ</p>
			</div>
			<!-- 詳細 -->
			<div class="row">
				<div>
					
				</div>
				<p>パキラの詳細</p>
			</div>

		</div>

	</div>
	
	

	<!-- 観察日記一覧 -->
	<div class="row">
		<div class="row">
			<!-- 写真 -->
			<div class="col-3">
				<img src="/images/plantImage.png">
				<p>写真</p>
			</div>
			<!-- 日記文章 -->
			<div class="col-9">
				<p>日記</p>
			</div>
		</div>
		
		
		
		
		
		
	</div>

	
	
	
	
</div>
</body>
</html>