<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<!-- JS読込 -->
<script th:src="@{/js/mypage.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
	<!--プロフィール-->
	<div class="row profile">
		<div class="col-md-2">
			<div class="row">
				<!--画像-->
				<div class="col-md-12 d-flex justify-content-center">
					<div class ="image-container prof-img-container m-2">
						<img class="circular-image" th:src="${profile.filePath != null && !profile.filePath.trim().isEmpty()} 
								? @{${uploadDirProfile} + ${profile.filePath}} : '/images/profileImage.png'" alt="ProfileImage">
					</div>
				</div>
				<!--ニックネーム-->
				<div class="col-md-12 d-flex justify-content-center">
					<p th:text="${profile.getNickname}"></p>
				</div>
			</div>
		</div>
		
		<div class="col-md-2">
			<!--植物数-->
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<p th:text="#{plantCount}"></p>
				</div>
				<div class="col-12 d-flex justify-content-center">
					<p th:text="${plantCount}"></p>
				</div>
			</div>
			<!--観察日記数-->
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<p th:text="#{diaryCount}"></p>
				</div>
				<div class="col-12 d-flex justify-content-center">
					<p th:text="${diaryCount}"></p>
				</div>
			</div>
		</div>
		
		<div class="col-md-8">
			<p th:text="${profile.profile}"></p>
		</div>
		
	</div>
	
	<!--追加ボタン＆検索-->
	<div class="row my-2 d-flex justify-content-between">
		<!-- 植物追加ボタン -->
		<div class="col-md-1 d-flex align-items-center">
			<a class="icon-container" th:href="@{/plant/add}">
				<img src="/images/plusicon.png" alt="#{plusIcon}" class="img-fluid" />
			</a>
		</div>
		<!-- 検索 -->
		<div class ="col-md-4">
			<form class="d-flex" role="search">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button class="btn btn-outline-success" type="submit">Search</button>
      		</form>
		</div>
	</div>
	
	<!--植物一覧-->
	<div class="row my-2">
		<div class="col-md-3 mb-4 col-plant" th:each="plant : ${plantViewDtoList}">
			<a th:href="@{/plant/detail/{id}(id=${plant.id})}">
				<div class="card">
					<!-- 削除ボタン(削除確認モーダル表示) -->
					<img class="delete-icon" th:data-name="${plant.name}" 
							th:onclick="'showDeleteModal(' + ${plant.id} + ', ' + this.dataset.name + '); event.preventDefault();'" 
							alt="deleteplant" src="/images/deleteicon.png">
					<!-- 削除処理 -->
					<form th:id="'deleteForm' + ${plant.id}" th:action="@{/plant/delete/{id}(id=${plant.id})}" 
							method="post" style="display:none;">
	                	<input type="hidden" name="_method" value="delete"/>
	            	</form>
					<!-- 植物画像 ファイル名に ?v=タイムスタンプ をつけることでブラウザキャッシュを回避 -->
					<img class="card-img-top" alt="plantImage"
						th:classappend="${plant.imageUrl == '/images/plantImage.png'} ? 'img-70' : ''"
						th:src="${plant.imageUrl}">
	                <!-- 植物名前 -->
	                <div class="card-body">
	                    <h5 class="card-title" th:text="${plant.name}"></h5>
	                </div>
	                <!-- TODO: 画像なしの場合の画像が表示されたときに植物名の表示位置が上にずれるのを修正する -->
				</div>
			</a>
		</div>
	</div>

	<!-- モーダル -->
	<div class="modal" tabindex="-1" id="deleteModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header d-flex justify-content-center position-relative">
				<h5 class="mb-0 text-success" id="plantNameToDelete"></h5>
	        	<button type="button" class="btn-close m-2 position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
	      	</div>
	      <div class="modal-body">
	        <p th:text="#{deleteMessage1}" class="text-center"></p>
	        <p th:text="#{deleteMessage2}" class="text-center"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
	        <button type="button" class="btn btn-primary" id="confirmDeleteButton">削除</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>
</body>
</html>